body {
  font-family: sans-serif;
}
h1{
  text-shadow: 2px 2px #df6127b0;
}
fieldset{
  background-color: silver;

}
h4,ol{
  color: red;
}
h5 {
  color: red;
  text-align: left;
}
h5:hover {
  color: black;
}

img {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
select {
  transition: 0.1s;
}
select:hover {
  background-color: rgb(133, 240, 140);
}
option {
  transition: 0.1s;
}
option:hover {
  background-color: rgb(133, 240, 140);
}
input {
  transition: 0.1s;
}

input:hover {
  background-color: rgb(133, 240, 140);
}
textarea {
  transition: 0.1s;
}

textarea:hover {
  background-color: rgb(133, 240, 140);
}
button {
  margin-top: 20px;
  width: 100px;
  height: 30px;
  background-color: silver;
  border-radius: 15px;
  color: rgb(136, 114, 114);
  cursor: pointer;
  transition: 0.2s;
}
button:hover {
  background-color: red;
  color: aliceblue;
}
@media only screen and (max-width: 680px){
  body{
    font-size: 11px;
  }
 .init{
  margin-left: -100px;
 }
 .resah input[type='text']{
  width: 100%;
 }
 .resah input[type='number']{
  width: 80%;
 }
}
